<div class="col-md-12">
  <div class="job">
    
    <%= link_to("提交简历", new_job_resume_path(@job), class:"btn btn-default pull-right") %>
  </div>
  
  <p><%= @job.description %></p>
  <br>
  Wage Upper Bound : <%= @job.wage_upper_bound %>
  <br>
  <br>
  Wage Lower Bound : <%= @job.wage_lower_bound %>
  <br>
  <br>
  Contact Email : <%= @job.contact_email %>

  <table class="table">
    <thead>
      <tr>
        <th>简历描述</th>
        <th>投简历者</th>
        <th>投简历时间</th>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.content %></td>
        <td><%= resume.user.email %></td>
        <td><%= resume.created_at %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>

</div>
