<!DOCTYPE html>
<html lang="en">


<!-- Add this css File in head tag-->
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>美食家园</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full-slider.css" rel="stylesheet">


<head>
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>

<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->
<body>
       <div class="row">

       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">

                   <!-- Slide Background -->
                   <img src="images/header1.jpg" alt="美食家园"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>

                   <div class="container">
                       <div class="row">
                           <!-- Slide Text Layer -->
                           <div class="slide-text slide_style_left">
                               <h1 data-animation="animated zoomInRight">美食家园</h1>
                               <p data-animation="animated fadeInLeft">诗和远方，不如舌尖的惊喜，家的味道！</p>
                               <a href='<%= jobs_path %>' target="_blank" class="btn btn-primary" data-animation="animated fadeInLeft">加入我们</a>
                               <a href='<%= admin_jobs_path %>' target="_blank" class="btn btn-default" data-animation="animated fadeInRight">发布职缺</a>

                           </div>
                       </div>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Second Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="images/second1.jpg" alt="美食家园"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                       <h1 data-animation="animated flipInX">美食家园</h1>
                       <p data-animation="animated lightSpeedIn">如果你志在创造美食，这里便是你展现的舞台！</p>
                       <a href='<%= jobs_path %>' target="_blank" class="btn btn-primary" data-animation="animated fadeInUp">加入我们</a>
                       <a href='<%= admin_jobs_path %>' target="_blank" class="btn btn-default" data-animation="animated fadeInDown">发布职缺</a>
                   </div>
               </div>
               <!-- End of Slide -->

               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="images/third.jpg" alt="美食家园"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_right">
                       <h1 data-animation="animated zoomInLeft">美食家园</h1>
                       <p data-animation="animated fadeInRight">如果你是美食狂热者，这里便是你灵感的注入地！</p>
                       <a href='<%= jobs_path %>' target="_blank" class="btn btn-primary" data-animation="animated fadeInLeft">加入我们</a>
                       <a href='<%= admin_jobs_path %>' target="_blank" class="btn btn-default" data-animation="animated fadeInRight">发布职缺</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->






      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">拥有美食天赋</h2>
              <p class="lead">中式●西式●日式<br>任你发挥</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">热爱美食</h2>
              <p class="lead">管理●后勤 <br>你即是家园一员</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">创意发烧友</h2>
              <p class="lead">你敢想--我们就敢做</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>


      <!-- jQuery -->
          <script src="js/jquery.js"></script>

          <!-- Bootstrap Core JavaScript -->
          <script src="js/bootstrap.min.js"></script>

          <!-- Script to Activate the Carousel -->
          <script>
          $('.carousel').carousel({
              interval: 5000 //changes the speed
          })
          $('#bootstrap-touch-slider').bsTouchSlider();
          </script>

         <script>
          $(document).ready(function () {
          $('.material-button-toggle').click(function () {
              $(this).toggleClass('open');
              $('.option').toggleClass('scale-on');
          });
         });
        </script>
      </div>
      </body>

      </html>
